@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  font-family: "Roboto", sans-serif;

  font-weight: 300;

  background: #181818;

  color: #fff;

  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: row;
}
#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#right {
  flex: 1;
}

/* sign in */

#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 80%;
  padding-bottom: 3rem;
}

#signin .logo {
  margin-bottom: 8vh;
}
#signin .logo img {
  width: 300px;
}

#signin label {
  font-size: 0, 9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input {
    margin-bottom: 1,3rem;
width: 100%;
}
